@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@font-face {
    font-family: "dachis-font";
    src: url(./fonts/Fontspring-DEMO-proximanova-thin.otf);
    font-weight: 100;
}

@font-face {
    font-family: "dachis-font";
    src: url(./fonts/Fontspring-DEMO-proximanova-light.otf);
    font-weight: 200;
}

@font-face {
    font-family: "dachis-font";
    src: url(./fonts/Fontspring-DEMO-proximanova-regular.otf);
    font-weight: 400;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow", sans-serif;
}

body {
    padding: 0 3%;
}

/* header start */

header {
    width: 94%;
    height: 15vh;
    font-family: "dachis-font";
    font-weight: 400;
    position: fixed;
    top: 0;
    z-index: 9999;
    background-color: white;
}

.upper-side {
    background-color: #323232;
    color: white;
    height: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 25px;
}

.lower-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65%;
}

.lower-side span {
    font-size: 20px;
    font-family: "Barlow", sans-serif;
    cursor: pointer;
}

.fa-key {
    margin-right: 5px;
    transform:  translateY(10%) rotate(270deg);
    font-size: 24px;
}

.navigation {
    list-style: none;
    display: flex;
    gap: 30px;
    font-family: "dachis-font";
    font-weight: 400;
}

.navigation li {
    transition: .4s;
    cursor: pointer;
    color: rgb(40, 40, 40);
}

.navigation li:hover {
    color: rgb(158, 144, 106);
    transition: .4s;
}

.lower-side .fa-bars {
    display: none;
    font-size: 24px;
    cursor: pointer;
}


/* header end */

main{
    margin-top: 15vh;
}

/* section1 start */

.section1 {
    height: 85vh;
    display: flex;
    justify-content: center;
    gap: 12px;
    overflow: hidden;
}

.banner-text {
    width: 50%;
    background-color: #323232;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 26px;
    padding-inline: 136px 164px;
}

.banner-text .banner-header{
    font-size: 50px;
    font-weight: 500;
    line-height: 64px;
    animation: slideDown 2.5s ease-in-out;
}

@keyframes slideDown{
    from{
        transform: translateY(-100px);
        opacity: 0;
    }
}

.banner-content{
    animation: slideUp 2.5s ease-in-out;
}

@keyframes slideUp {
    from{
        transform: translateY(100px);
        opacity: 0;
    }
}

.banner-content p {
    font-family: "dachis-font";
    font-weight: 200;
    padding-right: 90px;
    margin-bottom: 30px;
    line-height: 23px;
}

.banner-content a .call-btn {
    margin-top: 25px;
    background-color: #FBCA74;
    color: #323232;
    border: 1px solid #FBCA74;
    font-size: 17px;
    font-weight: 500;
    border-radius: 50px;
    padding: 14px 36px;
    cursor: pointer;
    transition: .5s;
}

.banner-content a .call-btn:hover {
    color: white;
    border: 1px solid white;
    background: transparent;
    transition: .5s;
}

.banner-img{
    width: 50%;
}

.banner-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* section1 end */


@media screen and (max-width:1200px) {
    .banner-text {
        padding-inline: 100px 120px;
    }
}

@media screen and (max-width:1065px) {
    .banner-text {
        padding-inline: 90px 105px;
    }
}

@media screen and (max-width:900px) {
    .banner-text {
        padding-inline: 60px 80px;
    }
}

@media screen and (max-width:800px) {
    .banner-text {
        padding-inline: 50px 65px;
    }

    .banner-content p{
        padding-right: 40px;
        margin-bottom: 20px;
    }
}









@media screen and (max-width:720px) {
    body{
        padding: 0;
    }

    header {
        width: 100%;
    }

    .upper-side{
        justify-content: center;
    }

    .upper-side span:nth-child(2){
        display: none;
    } 

    .lower-side {
        padding-inline: 30px;
    }

    .lower-side .navigation {
        display: none;
    }

    .lower-side .fa-bars {
        display: unset;
    }

    .section1 {
        height: 100vh;
        justify-content: center;
        flex-direction: column;
        gap: 12px;
        overflow: hidden;
    }

    .banner-text {
        width: 100%;
        height: 50%;
        background-color: #323232;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 26px;
        padding-inline: 40px 20px;
        overflow: hidden;
    }

    .banner-text .banner-header{
        font-size: 28px;
        font-weight: 500;
        line-height: 38px;
    }

    .banner-img{
        width: 100%;
        height: 50%;
    }

    .banner-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .banner-content p {
        font-size: 13px;
        margin-bottom: 0;
        line-height: 20px;
    }

    .banner-content a .call-btn {
        margin-top: 20px;
        font-size: 14px;
        border-radius: 50px;
        padding: 8px 24px;
    }
}